[Unit]
Description=OpenStack Heat CloudWatch API Service
After=syslog.target network.target

[Service]
Type=simple
User=heat
ExecStart=/usr/bin/heat-api-cloudwatch --config-file /etc/heat/heat-api-cloudwatch.conf --logfile /var/log/heat/api-cloudwatch.log

[Install]
WantedBy=multi-user.target
